---
layout: layouts/base.njk
title: Popular CSS animation showcases without external libraries
eleventyExcludeFromCollections: true
---

<div class="container">
    <div class="hero">
        <h1 class="hero__heading">Popular CSS animation showcases without external libraries</h1>
        <a class="hero__button" href="https://github.com/phuocng/css-animation">Star me on GitHub ★</a>
    </div>

    <div class="showcases">
        {% showcase "Expanding search bar" %}
        {% showcase "More actions" %}
    </div>

    {% include "follow.njk" %}
</div>